# 🚫 System files
.DS_Store
__pycache__/
*.py[cod]

# 🔒 Secrets & environment configs
.env.local
.env
.env.*
*.pem
*.key
config.JSON

# 🐍 Virtual environments
venv/
venv.bak/
env/
env.bak/

# 🎧 Audio & transcription output
*.wav
*.rttm
transcripts/*.txt
transcripts/*.md
transcripts/*.html

# 💻 IDE settings
.idea/
*.iml
*.sublime-project
*.sublime-workspace
